/* You can add global styles to this file, and also import other style files */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@use "sass:math" as math;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*** After Reset ***/
h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 800;
}

html {
  font-family: Inter var, ui-sans-serif, system-ui, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
a.btn {
  text-decoration: none;
}
.btn {
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  -webkit-tap-highlight-color: transparent;
  color-scheme: light;
  font-synthesis-weight: none;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
  border-color: hsl(240, 5.9%, 90%);
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  margin: 0;
  text-transform: none;
  -webkit-appearance: button;
  background-image: none;
  cursor: pointer;
  display: inline-flex;
  height: 2.25rem;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: hsl(0, 0%, 98%);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  background-color: hsl(240, 5.9%, math.div(10%, 0.9));
  &.outline {
    color: hsl(0, 0%, 0%);
    background-color: transparent;
  }
}

.btn:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.mr-2 {
  margin-right: 0.25rem;
}

.ml-2 {
  margin-left: 0.25rem;
}

/** Form Input Styles **/

input {
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  &:focus {
    outline: none;
    border-color: #4299e1;
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
  }
}
input.ng-invalid.ng-touched + label {
  color: #e53e3e;
}

input.ng-invalid.ng-touched {
  border-color: #e53e3e;
  &:focus {
    box-shadow: 0 0 0 3px rgba(229, 62, 62, 0.5);
  }
}
